<%- include('../partials/header.ejs') %>
    <div class = "content">
       <% if(stories.length){ %>
            <p>Select a story to read</p>
           <% stories.forEach(story=>{ %>
                <a href="/stories/<%= story.id%>"> <p><%= story.title %></p> </a>
           <% });
        } else { %>
            <p>There are no stories</p>
       <% } %>
    </div>
<%- include('../partials/footer.ejs') %>   