    <!-- Footer -->
    <footer>
      <div class="container-fluid bg-secondary p-2 fixed-bottom">
        <div class="row">
          <div class="col">
            <p class="text-warning text-center">@CLT-Pickup</p>
          </div>
          <div class="col-3">
            <a href="/connections/about" class="text-decoration-none text-warning">About</a>
          </div>
          <div class="col-3">
            <a href="/connections/contact" class="text-decoration-none text-warning text-right"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end-->
  </body>
</html>