<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Jibber Jabber</title>
</head>
<body>
    <nav>
        <h2>Jibber Jabber</h2>
        <a href='/'>Home</a>
        <a href='/stories'>Stories</a>
        <a href='/stories/new'>Create a New Story</a>
    </nav>
    <div class = "content">
        <h3>Welcome to Jibber Jabber.</h3> 
        <p>This is a place where you can share your exciting stories and read exciting stories from others.</p>
    </div>
    <footer><small>Copyright &copy; Jibber Jabber Corporation 2021</small></footer>
    
</body>

</html>