<%- include('./partials/header.ejs') %>
    <div class = "content">
        <h3>Welcome to Jibber Jabber.</h3> 
        <p>This is a place where you can share your exciting stories and read exciting stories from others.</p>
    </div>
<%- include('./partials/footer.ejs') %>   