<%- include('./partials/header.ejs') %>
<!-- Main Content -->
<div class="container mt-5">
  <div class="row justify-content-md-center mb-5">
    <h1 class="col text-center mt-5">
      Welcome to CLT-Pickup, a pick up game connections site.
    </h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      Curio will allow you to make many connections while searching or creating
      pickup games in varius Sports. Sing up and sign in to customizeyour
      profile. In curio you will be able to look up and create pick up games.
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">Sign up and start a connection!</div>
  </div>
</div>
<!-- Main Content end -->
<%- include('./partials/footer.ejs') %>
